---
/**
 * WebsiteCard Component
 * 
 * A responsive card component for displaying website information in both 
 * grid and list views. Includes domain, company name, category, description,
 * and region information.
 */

import type { Website } from '../../data/websites';
import { websiteCategories } from '../../data/websites';
import { companies } from '../../data/companies';

interface Props {
  website: Website;
  view?: 'grid' | 'list';
  isCompact?: boolean;
}

const { 
  website,
  view = 'grid',
  isCompact = false
} = Astro.props;

// Get company name from ID
const getCompanyName = (companyId: string) => {
  const company = companies.find(c => c.id === companyId);
  return company ? company.name : companyId;
};

// Get category label
const getCategoryLabel = (categoryId: string) => {
  const category = websiteCategories.find(c => c.value === categoryId);
  return category ? category.label : categoryId;
};

// Format date to readable format
const formatDate = (dateString?: string) => {
  if (!dateString) return 'Not available';
  const date = new Date(dateString);
  return new Intl.DateTimeFormat('en-US', { 
    year: 'numeric', 
    month: 'short', 
    day: 'numeric' 
  }).format(date);
};

// Get icon for website category
const getCategoryIcon = (category: string) => {
  switch(category) {
    case 'corporate':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M4.5 2.25a.75.75 0 0 0 0 1.5v16.5h-.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 0-1.5h-.75V3.75a.75.75 0 0 0 0-1.5h-15ZM9 6a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H9Zm-.75 3.75A.75.75 0 0 1 9 9h1.5a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM9 12a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5H9Zm3.75-5.25A.75.75 0 0 1 13.5 6H15a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75ZM13.5 9a.75.75 0 0 0 0 1.5H15A.75.75 0 0 0 15 9h-1.5Zm-.75 3.75a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75ZM9 19.5v-2.25a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-.75.75h-4.5A.75.75 0 0 1 9 19.5Z" clip-rule="evenodd" /></svg>';
    case 'hcp':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" /></svg>';
    case 'patient':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" /></svg>';
    case 'campaign':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" /></svg>';
    case 'ir':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" /><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a3.833 3.833 0 0 0 1.719-.756c.712-.566 1.112-1.35 1.112-2.178 0-.829-.4-1.612-1.113-2.178a3.833 3.833 0 0 0-1.718-.756V8.334c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" /></svg>';
    case 'clinical-trials':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M10.5 3.798v5.02a3 3 0 0 1-.879 2.121l-2.377 2.377a9.845 9.845 0 0 1 5.091 1.013 8.315 8.315 0 0 0 5.713.636l.285-.071-3.954-3.955a3 3 0 0 1-.879-2.121v-5.02a23.614 23.614 0 0 0-3 0Zm4.5.138a.75.75 0 0 0 .093-1.495A24.837 24.837 0 0 0 12 2.25a25.048 25.048 0 0 0-3.093.191A.75.75 0 0 0 9 3.936v4.882a1.5 1.5 0 0 0 .44 1.06l6.293 6.294c-1.037.4-2.137.595-3.233.595a9.325 9.325 0 0 1-5.305-1.649l-.57.57a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 0 0 1.06 0l3.5-3.5a.75.75 0 0 0 0-1.06l-6.934-6.934A2.999 2.999 0 0 1 6 8.818V5.17c.51-.035 1.024-.05 1.5-.05a23.95 23.95 0 0 1 7.5.617v3.149a1.5 1.5 0 0 0 .44 1.06l3.5 3.5a.75.75 0 0 0 1.06 0l3.5-3.5a.75.75 0 0 0 0-1.06l-3.5-3.5a1.5 1.5 0 0 0-1.06-.44h-3.149a24.25 24.25 0 0 0-1.291-.292Z" clip-rule="evenodd" /></svg>';
    case 'disease-education':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" /></svg>';
    case 'product':
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path d="M11.25 3v4.046a3 3 0 0 0-4.277 4.204H1.5v-6A2.25 2.25 0 0 1 3.75 3h7.5ZM12.75 3h7.5A2.25 2.25 0 0 1 22.5 5.25v6h-5.473a3 3 0 0 0-4.277-4.204V3ZM1.5 15.75v-1.5h4.973a3 3 0 0 0 4.277 4.204V21h-7.5a2.25 2.25 0 0 1-2.25-2.25v-3ZM12.75 21v-2.546a3 3 0 0 0 4.277-4.204H22.5v1.5A2.25 2.25 0 0 1 20.25 21h-7.5Z" /></svg>';
    default:
      return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5"><path d="M21.721 12.752a9.711 9.711 0 0 0-.945-5.003 12.754 12.754 0 0 1-4.339 2.708 18.991 18.991 0 0 1-.214 4.772 17.165 17.165 0 0 0 5.498-2.477ZM14.634 15.55a17.324 17.324 0 0 0 .332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 0 0 .332 4.647 17.385 17.385 0 0 0 5.268 0ZM9.772 17.119a18.963 18.963 0 0 0 4.456 0A17.182 17.182 0 0 1 12 21.724a17.18 17.18 0 0 1-2.228-4.605ZM7.777 15.23a18.87 18.87 0 0 1-.214-4.774 12.753 12.753 0 0 1-4.34-2.708 9.711 9.711 0 0 0-.944 5.004 17.165 17.165 0 0 0 5.498 2.477ZM21.356 14.752a9.765 9.765 0 0 1-7.478 6.817 18.64 18.64 0 0 0 1.988-4.718 18.627 18.627 0 0 0 5.49-2.098ZM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 0 0 1.988 4.718 9.765 9.765 0 0 1-7.478-6.816ZM13.878 2.43a9.755 9.755 0 0 1 6.116 3.986 11.267 11.267 0 0 1-3.746 2.504 18.63 18.63 0 0 0-2.37-6.49ZM12 2.276a17.152 17.152 0 0 1 2.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0 1 12 2.276ZM10.122 2.43a18.629 18.629 0 0 0-2.37 6.49 11.266 11.266 0 0 1-3.746-2.504 9.754 9.754 0 0 1 6.116-3.985Z" /></svg>';
  }
};

const companyName = getCompanyName(website.companyId);
const categoryLabel = getCategoryLabel(website.category);
const categoryIcon = getCategoryIcon(website.category);
---

{view === 'grid' ? (
  <div class="bg-white rounded-lg shadow border border-gray-200 hover:shadow-md transition-shadow duration-300 overflow-hidden h-full flex flex-col">
    <div class="p-4 flex-grow">
      <div class="flex justify-between items-start mb-3">
        <div class="flex items-center">
          <span class="text-blue-600 mr-2" set:html={categoryIcon} />
          <h3 class="font-semibold text-lg text-gray-900 line-clamp-1">{website.domain}</h3>
        </div>
        {website.region && (
          <span class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700">
            {website.region}
          </span>
        )}
      </div>
      
      {website.siteName && (
        <h4 class="text-gray-700 mb-1 text-sm">{website.siteName}</h4>
      )}
      
      <div class="flex items-center text-sm text-gray-600 mb-2">
        <span class="font-medium">Company:</span>
        <a href={`/companies/${website.companyId}`} class="ml-1 text-blue-600 hover:underline">{companyName}</a>
      </div>

      <div class="flex items-center text-sm text-gray-600 mb-3">
        <span class="font-medium">Category:</span>
        <span class="ml-1">{categoryLabel}</span>
      </div>
      
      {!isCompact && website.description && (
        <p class="text-gray-600 text-sm mb-4 line-clamp-2">{website.description}</p>
      )}
      
      <div class="mt-auto pt-2">
        {website.lastCrawl && (
          <div class="text-xs text-gray-500">
            Last updated: {formatDate(website.lastCrawl)}
          </div>
        )}
      </div>
    </div>
    <div class="p-3 border-t border-gray-100 bg-gray-50 flex justify-between">
      <a href={`/websites/${website.id}`} class="text-blue-600 text-sm font-medium hover:text-blue-800">
        View details
      </a>
      <a href={`https://${website.domain}`} target="_blank" rel="noopener noreferrer" class="text-blue-600 text-sm font-medium hover:text-blue-800 flex items-center">
        Visit site
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-1">
          <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
) : (
  <div class="bg-white rounded-lg shadow border border-gray-200 hover:shadow-md transition-shadow duration-300 overflow-hidden flex flex-row p-4 gap-4">
    <div class="flex-grow">
      <div class="flex justify-between items-start mb-2">
        <div class="flex items-center">
          <span class="text-blue-600 mr-2" set:html={categoryIcon} />
          <h3 class="font-semibold text-lg text-gray-900">{website.domain}</h3>
          {website.siteName && (
            <span class="ml-2 text-gray-600 text-sm">({website.siteName})</span>
          )}
        </div>
      </div>
      
      <div class="flex items-center text-sm text-gray-600 mb-2 gap-4">
        <div class="flex items-center">
          <span class="font-medium">Company:</span>
          <a href={`/companies/${website.companyId}`} class="ml-1 text-blue-600 hover:underline">{companyName}</a>
        </div>
        <div class="flex items-center">
          <span class="font-medium">Category:</span>
          <span class="ml-1">{categoryLabel}</span>
        </div>
        {website.region && (
          <div class="flex items-center">
            <span class="font-medium">Region:</span>
            <span class="ml-1">{website.region}</span>
          </div>
        )}
      </div>
      
      {!isCompact && website.description && (
        <p class="text-gray-600 text-sm mb-2 line-clamp-1">{website.description}</p>
      )}
    </div>
    
    <div class="flex flex-col items-end justify-between ml-4">
      <div class="flex space-x-3">
        <a href={`/websites/${website.id}`} class="text-blue-600 text-sm font-medium hover:text-blue-800">
          View details
        </a>
        <a href={`https://${website.domain}`} target="_blank" rel="noopener noreferrer" class="text-blue-600 text-sm font-medium hover:text-blue-800 flex items-center">
          Visit site
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-1">
            <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      
      {website.lastCrawl && (
        <div class="text-xs text-gray-500 mt-2">
          Last updated: {formatDate(website.lastCrawl)}
        </div>
      )}
    </div>
  </div>
)} 